<!-- views/partials/footer.ejs -->

<!-- <p class="text-center text-muted">© Copyright 2014 The Awesome People</p> -->



<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="/js/app.js" async defer></script>
<script src="/js/type.js" async defer></script>