<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />

<style>
    body {
        padding-top: 50px;
    }
</style>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Nineleaps
            </a>

            <ul class="nav navbar-nav">
                <!-- <li><a href="javascript:void(0)" id="importdata">Import</a> -->
                <!-- </li> -->
                <!-- <li><a href="/results" target="_blank" id="fetchdata">Fetch</a> -->
                </li>
                <li><a href="/graph" target="_blank">Graph</a>
                </li>
                <li><a href="/types" target="_blank">Catgorised on ratings</a>
                </li>
            </ul>
        </div>

    </div>
</nav>