<!DOCTYPE html>
<html lang="en">

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <br>

    <div id="chartContainer"></div>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/js/graph.js" async defer></script>

</html>