<!DOCTYPE html>
<html lang="en">

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <br>

    <div id="chartContainer"></div>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

<!-- <script>
    
</script> -->

</html>