extends layout

block content

  br

  h2 Project For Summer Intern at NineLeaps

  br

  p

   a(href='javascript:void(0)' class='btn btn-primary' id='importdata') Import CSV 
   |    
   a(href='javascript:void(0)' class='btn btn-success' id='fetchdata') Fetch Data

  br  

  p#message.alert.alert-success(style='display:none')

  br

  table.table.table-bordered

    thead

        tr

            th #

            th Movie ID

            th Title

            th Rating

            th TotalVotes

            th Genre1

            th Genre2

            th Genre3

            th MetaCritic

            th Budget

            th Runtime



    tbody#trdata

        tr

        