<!DOCTYPE html>
<html lang="en">

<body class="" style="padding:30px;">



    <header>
        <% include ./partials/header %>

        <style>
            tfoot {
                display: table-header-group;
            }
        </style>

    </header>

    <br>



    <div class="table-responsive" style="width:100%">


        <table id="movie_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Movie ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">TotalVotes</th>
                    <th scope="col">Genre1</th>
                    <th scope="col">Genre2</th>
                    <th scope="col">Genre3</th>
                    <th scope="col">MetaCritic</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Runtime</th>

                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th scope="col">Movie ID</th>
                    <th style="width:100px;" scope="col">Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">TotalVotes</th>
                    <th scope="col">Genre1</th>
                    <th scope="col">Genre2</th>
                    <th scope="col">Genre3</th>
                    <th scope="col">MetaCritic</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Runtime</th>

                </tr>
            </tfoot>


        </table>

    </div>


    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>