<!DOCTYPE html>
<html lang="en">

<body class="container">

    <header>
        <% include ./partials/header %>


    </header>

    <br>


    <main>

        <h1 class=" h2">Best Movies</h1>
        <table class="table table-bordered table-striped" id="best_table">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie ID</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
                <th scope="col">TotalVotes</th>
                <th scope="col">Genre1</th>
                <th scope="col">Genre2</th>
                <th scope="col">Genre3</th>
                <th scope="col">MetaCritic</th>
                <th scope="col">Budget</th>
                <th scope="col">Runtime</th>

            </tr>

        </table>

        <br><br>
        <hr>

        <h1 class="h2">Mediocre Movies</h1>
        <table class="table table-bordered table-striped" id="mediocre_table">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie ID</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
                <th scope="col">TotalVotes</th>
                <th scope="col">Genre1</th>
                <th scope="col">Genre2</th>
                <th scope="col">Genre3</th>
                <th scope="col">MetaCritic</th>
                <th scope="col">Budget</th>
                <th scope="col">Runtime</th>

            </tr>

        </table>

        <br><br>
        <hr>

        <h1 class="h2">Worst Movies</h1>
        <table class="table table-bordered table-striped" id="worst_table">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie ID</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
                <th scope="col">TotalVotes</th>
                <th scope="col">Genre1</th>
                <th scope="col">Genre2</th>
                <th scope="col">Genre3</th>
                <th scope="col">MetaCritic</th>
                <th scope="col">Budget</th>
                <th scope="col">Runtime</th>

            </tr>

        </table>


    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>